
<div class="row">
	@*<p style="font-family: Calibri, Arial, serif; font-size: 14px; color: rgb(85, 85, 89);">Dear&nbsp;<b>Mayank</b>,</p>
	<p style="font-family: Calibri, Arial, serif; font-size: 14px; color: rgb(85, 85, 89);">We unfortunately do not hold your emergency contact details in your profile yet. It is imperative that we gather this information as soon as possible for your security.</p>
	<p style="font-family: Calibri, Arial, serif; font-size: 14px; color: rgb(85, 85, 89);">You can complete this information at any time on your TS Homepage in the Free Access Forms widget, using the &quot;<b>Update my emergency contact details</b>&quot; form. Please ensure to Submit your form once completed.</p>
	<p style="font-family: Calibri, Arial, serif; font-size: 14px; color: rgb(85, 85, 89);">If you have any technical difficulties, please do not hesitate to contact us.</p>
	<p style="font-family: Calibri, Arial, serif; font-size: 14px; color: rgb(85, 85, 89);">Kind Regards,</p>
	<p style="font-family: Calibri, Arial, serif; font-size: 14px; color: rgb(85, 85, 89);"><b>Your HR Correspondent</b></p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
</div>
